<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="BOM_SAP_CHECKING.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <BOM_SAP_CHECKING.Properties.Settings>
            <setting name="PathfileA" serializeAs="String">
                <value />
            </setting>
            <setting name="PathfileB" serializeAs="String">
                <value />
            </setting>
            <setting name="BOM1" serializeAs="String">
                <value />
            </setting>
            <setting name="BOM2" serializeAs="String">
                <value />
            </setting>
        </BOM_SAP_CHECKING.Properties.Settings>
    </userSettings>
    <system.serviceModel>
        <bindings />
        <client />
    </system.serviceModel>
</configuration>